# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Get your xAI API Key here for chat and image models: https://console.x.ai/

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart

MY_KV_NAMESPACE=your_kv_namespace_id
MY_D1_DATABASE=your_d1_db_id
MY_R2_BUCKET=your_r2_bucket_name
AI=your_ai_binding
MY_AUTORAG_INSTANCE=your_autorag_instance_name
